#about .about-ul .about-li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 1.5rem auto;
  padding: 1.5rem;
  max-width: 1200px;
  border-radius: 10px;
}

#about .about-ul .about-li li {
  background-color: #222;
  margin: 1rem auto;
  padding: 0.5rem;
  cursor: pointer;
}
#about .about-ul .about-li h2 :hover {
  text-shadow: 0 4px 8px #00bcd4;
}
