/* bofy css*/
body {
  font-family: "Roboto", sans-serif;
  background-color: #222;
  color: #ffffff;
  font-size: large;
}

body section {
  padding: 4rem 2rem;
  text-align: center;
}

h2 {
  size: 2rem;
  text-transform: uppercase;
}

button {
  width: 200px;
  height: 80px;
  background-color: #222;
  color: rgb(255, 254, 254);
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 8p #ffffff;
}
button :hover {
  color: #121111;
  background-color: #00bcd4;
  width: 180px;
  height: 60px;
  border-radius: 1rem;
  box-shadow: 0 4px 8px #ffffff;
}

h1{
  color: #00bcd4;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}
